# Dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/

# Production build outputs
dist/
backend/dist/
frontend/dist/

# Local database
*.sqlite
*.sqlite-journal

# Local logs
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
